.myContainer{
    padding-left: 8%;
    padding-right: 8%;
}

.goBack{

}


.dPageTitle{
    align-content: center;
    vertical-align: middle;
    width: 100%;
    height: 200px;
    padding-top: 15px; padding-bottom: 15px;
    text-align: center;

}

.dPageTitle > h1{
    margin-top: 50px;
    font-family: "Sofia";
    color: black;
}

.dPageTitle > h4{
    font-style: italic;
    font-size: medium;
    font-weight: bold;
    font-family: "Sofia";
}

.dPageImg-ingredients{
    margin-top: 25px; margin-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.dPageImage{
    min-height: 350px;
    max-height: 600px;
    min-width: 450px;
    max-width: 850px;
    justify-content: center;
    align-self: center;
    border-style: solid;
    border-width: 3px;
    border-color: darkcyan;
    border-radius: 10px;
}

.dPageIngredients{
    min-height: 80%; height: 100%;
    min-width: 400px; width: 28%;
    border-radius: 20px;
    padding-top: 25px; padding-bottom: 25px;
    padding-left: 55px; padding-right: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: darkcyan;
    align-self: center;
    background-image: url("https://img.freepik.com/free-photo/seamless-wood-texture-background_105762-62.jpg?size=626&ext=jpg");
    margin-top: 10px; margin-bottom: 10px;
}

.dPageIngredients > ul{
    justify-content: space-around;
    align-items: center;
    list-style: disc;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}

.dPageIngredients > ul > li {
    color: black;
    font-weight: bolder;
    font-size: x-large;
}

.dPageInstructions{
    margin-top: 15px;
    height: 600px;
    width: 100%;
    background-color: beige;
    border-radius: 20px;
    flex-wrap: wrap;
}

.dPageInsText{

}

.dPageInsClock{

}

/*---------------------------------------------------------------task--------------------------------------------------*/

.my-todo-component {
	max-width: 500px;
	margin: auto;
	padding: 1rem;
	background: #eee;
	border-radius: 5px;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.32);
}

.my-todo-component ul {
	margin: 0;
	padding: 0;
}
.my-todo-component .close{
	color: red;
}
/* ______________________________________________________________END____________________________________________________ */